# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [5]:
import pandas as pd
import numpy as np
pd.__version__

'2.0.3'

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [6]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep = '\t')

### Step 4. See the first 10 entries

In [ ]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [7]:
# Solution 1
print(chipo.shape[0])

4622

In [8]:
# Solution 2
print(len(chipo))

4622

### Step 6. What is the number of columns in the dataset?

In [9]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [10]:
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [ ]:
index=chipo.index
print(index)

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [11]:
chipo.item_name.value_counts().head(1)

item_name
Chicken Bowl    726
Name: count, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [12]:
chipo.item_name.value_counts().head(1)

item_name
Chicken Bowl    726
Name: count, dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [13]:
chipo.isin(['Chicken Bowl']).sum()

order_id                0
quantity                0
item_name             726
choice_description      0
item_price              0
dtype: int64

### Step 12. How many items were orderd in total?

In [14]:
chipo.quantity.sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [15]:
chipo.item_price.dtype  ##순서가 좀 꼬였는데 float64로 변경은 되었음.

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [16]:
chipo.item_price = chipo.item_price.apply(lambda x: float(x[1:-1])) ##lambda function..?

#### Step 13.c. Check the item price type

In [18]:
chipo.item_price.dtype  ##step 13.a 참고

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [19]:
chipo.item_price.sum()

34500.16

### Step 15. How many orders were made in the period?

In [20]:
chipo.order_id.value_counts().count()

1834

### Step 16. What is the average revenue amount per order?

In [21]:
# Solution 1
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
average_revenue_per_order = chipo.groupby('order_id')['revenue'].sum().mean()     ##group으로 묶고, 그 다음 sum and mean
print(average_revenue_per_order)

21.39423118865867

In [22]:
# Solution 2
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
total_revenue = chipo['revenue'].sum()                           ##위 방법을 풀어서 쓴 듯
order_count = chipo['order_id'].nunique()
average_revenue_per_order = total_revenue / order_count
print(average_revenue_per_order)

21.39423118865867

### Step 17. How many different items are sold?

In [23]:
chipo ['item_name'].nunique()      ##중복되지 않은 고유의 항목 개수 셀 때 사용

50